header {
    color: rgb(216, 52, 134);
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    Font size: 150%;
}

nav {
    display: inline-flex;
    
}

.About-Me {
    color: blue;
}

.Work {
    flex-wrap: wrap;
}

.html {
    margin: 0;
    content: "HTML";
}
