
*{
    box-sizing: border-box;
}
header {
    color: rgb(222, 97, 185);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}    
h1, h3 {
    margin: 10px;
}
h1{
    padding: 5px 0px 5px 0px;
    height: 2;
    font-size: 250%;
}
header, h1, nav {
    background-image: url("https://wallpapercave.com/dwp2x/ZWb1ZEQ.jpg");
}
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav a {
    padding: 10px 60px;
    color: rgb(210, 130, 186);
    position: static;
}
nav a:hover {
    color: aquamarine;
}
#AboutMe {
    padding-left: 25px;
    text-align: justify;
    list-style-type: square;
}
img {
    max-width: 150%;
    height: auto;
    max-height: 150px;
    border: 2px solid rgb(199, 37, 156);
    float: right;
}
main {
    margin-bottom: 50px;  
    margin-top: 50px;
}
.page {
    max-width: 85%;
    margin: auto;
}
.Aboutme {
    margin: 30px 0px;
    padding: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Aboutme, h2 {
    text-align: left;
    padding-left: 15px;
}
#About-Me div {
    display: flex !important;
    align-content: center;
}
.Aboutme p {
    margin-bottom: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item1 {
    border: 10px solid darkgreen;
    color:rgb(181, 11, 130);
    max-height: 200px;
    display: flex;
    align-items: flex-end;
    margin: 50px;  
    padding: 50px;

}
.item {
    border: 10px solid darkgreen;
    color:rgb(181, 11, 130);
    max-height: 100px;
    display: flex;
    align-items: flex-end;
    margin: 50px;  
    padding: 50px;
}
.item:first-child {
    min-height: 200px;
    flex-basis: 75%;
}
footer a {
    padding: 20px 50px;
    color: rgb(160, 24, 119);
}
@media screen and (max-width: 200px) {
    header {
        background-color: rgb(239, 177, 222);
    }
}