:root {
    --pink: rgb(199, 31, 154);
    --aqua:  aqua;
}
header {
    color: var(--pink);
    background-color: var(--aqua);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    Font size: 150%;
}
nav {
    display: inline-flex;
    
}
aside {
    position: static;
}
.side-panel {
    color: pink;
    text-align: left;
}
.center-body {
    text-align: center;
    color: blueviolet;
}
.contact-me {
    display: inline-flex;
    color: blueviolet;
    